
/* Created on : Feb 8th, 2019, 8:39:38 PM
Author     : Peter Wachira  */

body{
  background-color:#fbfad3;
}
.well{
  background-color: #679186;
  font-family: 'Inconsolata', monospace;
  font-size:20px;
}
.panel{
  background-color: #679186;
  opacity: 0.9;
  font-family: 'Inconsolata', monospace;
  font-size:20px;
}
.jumbotron{
  background-color:#fed9ca;
}
  button {
  background-color:#fbfad3;
  color:#264e70;
}
#player1-section{

background-color:#cdffeb;
opacity: 0.9;
}
#player2-section{

background-color: #cdffeb;
opacity: 0.9;
}

#instructions{
  width:60%;
  margin:auto;
}
h4{
  text-align: left;
}
ul ,h3{
  text-align: center;
}

#roller , #holder, #starter{
  width:60%;
  margin:auto;
}
 #heading1{
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  font-size: 75px;
  color:#264e70;



}
#instructions{
  display:none;
}
.selector{
  font-family: 'Vollkorn', serif;
  color:#bc2525;
  text-transform: uppercase;
  font-style: bold;
  text-decoration: underline;

}
